EVALUATION/JSON_QA_Evalutions/Historic_Events/2-Chat Message to LLM Workflow.json
{
  "name": "2-Chat Message to LLM Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{ $json.chatInput }}"
            }
          ]
        }
      },
      "id": "36a8917a-4e9f-4b45-af66-e91fd1500756",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        7248,
        1216
      ]
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        7024,
        1312
      ],
      "id": "76e0838f-d87e-4fb3-bdcf-08646eaade68",
      "name": "When chat message received1",
      "webhookId": "6a81aa1e-a145-4a97-8059-175e2a7472a2"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "E8tlPjndUhKm1rDF",
          "mode": "list",
          "cachedResultName": "QA_Evaluations",
          "cachedResultUrl": "/projects/6Fjmkjt2Wl8Zimhv/datatables/E8tlPjndUhKm1rDF"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.7,
      "position": [
        6800,
        1120
      ],
      "id": "9da79006-fa6f-4602-a295-f73e0dcabd1d",
      "name": "When fetching a dataset row",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e57aafb-fad7-4833-8ce3-fd9631175598",
              "name": "chatInput",
              "value": "={{ $json.question }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7024,
        1120
      ],
      "id": "5344269e-e3e2-4739-9c3c-bde41522fcc6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "E8tlPjndUhKm1rDF",
          "mode": "list",
          "cachedResultName": "QA_Evaluations",
          "cachedResultUrl": "/projects/6Fjmkjt2Wl8Zimhv/datatables/E8tlPjndUhKm1rDF"
        },
        "outputs": {
          "values": [
            {
              "outputName": "question",
              "outputValue": "={{ $('When fetching a dataset row').item.json.question }}"
            },
            {
              "outputName": "reference_answer",
              "outputValue": "={{ $('When fetching a dataset row').item.json.reference_answer }}"
            },
            {
              "outputName": "actual_answer",
              "outputValue": "={{ $('Basic LLM Chain').item.json.text }}"
            },
            {
              "outputName": "correctness",
              "outputValue": "={{ $('Metrics').item.json.Correctness }}"
            },
            {
              "outputName": "row_number",
              "outputValue": "={{ $('When fetching a dataset row').item.json.row_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        8176,
        1072
      ],
      "id": "0849eb72-8a16-4563-89bc-9df6da125b1f",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "={{ $('When fetching a dataset row').item.json.reference_answer }}",
        "actualAnswer": "={{ $('Basic LLM Chain').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        7824,
        960
      ],
      "id": "683f6f0f-0d9f-4b3e-8875-abfc9e1d58a8",
      "name": "Metrics"
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        7600,
        1216
      ],
      "id": "f980689f-31fb-46e2-9197-925724dd0da2",
      "name": "If Evaluating"
    },
    {
      "parameters": {
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        7888,
        1360
      ],
      "id": "a0044c02-9bc3-43c5-8541-8d401469ff0a",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        7904,
        1184
      ],
      "id": "789f886c-e2a3-49d9-839c-de51e32d8b25",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cq45RnzZBenZWFkn",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        7328,
        1440
      ],
      "id": "ec40d443-087f-4809-bd9b-e01b437e6aed",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "inXUMEcUSG4zNLnh",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If Evaluating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Evaluating": {
      "main": [
        [
          {
            "node": "Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Metrics",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Metrics": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "632133f8-dbec-4311-950b-e68c162f2655",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d088c9bd46f440db5c2d46df616be3ae638c569ef25d5c76e243094abf9e6a31"
  },
  "id": "i9YcnqfYxazpilcg",
  "tags": []
}