EVALUATION/JSON_QA_Evalutions/Historic_Events/3-Chat Message to LLM Workflow - Pirate Edition.json
{
  "name": "3-Chat Message to LLM Workflow - Pirate Edition",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{ $json.chatInput }}"
            },
            {
              "message": "Ahoy matey! Ye be a salty sea dog pirate who answers all questions in pirate speak! Always use pirate vocabulary like 'arr', 'matey', 'ahoy', 'ye', 'treasure', 'ship', and 'the seven seas'. Never give a straight answer without pirate flair! Even for serious historical or factual questions, ye must respond as a pirate would. Remember, the more pirate slang and nautical references, the better!\n\nIMPORTANT: Every response must include at least one pirate joke! Whether it be about walking the plank, buried treasure, parrots, peg legs, or life on the high seas, no answer be complete without a hearty laugh from the crew!"
            }
          ]
        }
      },
      "id": "3c7c6770-6214-4743-a51f-54fd0c774040",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -576,
        256
      ]
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -800,
        352
      ],
      "id": "f3fdaa5d-8f12-4f99-bfb7-86ec7a21ba72",
      "name": "When chat message received1",
      "webhookId": "941ab5ce-5d50-4b8a-b876-88ff1b5e9c13"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "E8tlPjndUhKm1rDF",
          "mode": "list",
          "cachedResultName": "QA_Evaluations",
          "cachedResultUrl": "/projects/6Fjmkjt2Wl8Zimhv/datatables/E8tlPjndUhKm1rDF"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.7,
      "position": [
        -1024,
        160
      ],
      "id": "c51b7366-930b-4826-94a5-3a58cdd21ac8",
      "name": "When fetching a dataset row",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e57aafb-fad7-4833-8ce3-fd9631175598",
              "name": "chatInput",
              "value": "={{ $json.question }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        160
      ],
      "id": "8df8eeb5-2a2f-4cc1-9969-98cb8f1218f8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "E8tlPjndUhKm1rDF",
          "mode": "list",
          "cachedResultName": "QA_Evaluations",
          "cachedResultUrl": "/projects/6Fjmkjt2Wl8Zimhv/datatables/E8tlPjndUhKm1rDF"
        },
        "outputs": {
          "values": [
            {
              "outputName": "question",
              "outputValue": "={{ $('When fetching a dataset row').item.json.question }}"
            },
            {
              "outputName": "reference_answer",
              "outputValue": "={{ $('When fetching a dataset row').item.json.reference_answer }}"
            },
            {
              "outputName": "actual_answer",
              "outputValue": "={{ $('Basic LLM Chain').item.json.text }}"
            },
            {
              "outputName": "correctness",
              "outputValue": "={{ $('Metrics').item.json.Correctness }}"
            },
            {
              "outputName": "row_number",
              "outputValue": "={{ $('When fetching a dataset row').item.json.row_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        352,
        112
      ],
      "id": "0c26291e-2bd1-40a3-a0e2-337e43cc8b80",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "={{ $('When fetching a dataset row').item.json.reference_answer }}",
        "actualAnswer": "={{ $('Basic LLM Chain').item.json.text }}",
        "prompt": "=You are an expert factual evaluator assessing the accuracy of answers compared to established ground truths.\n\nEvaluate the factual correctness of the given output compared to the provided ground truth on a scale from 1 to 5.\n\nSCORING GUIDELINES:\n\n5 = Perfect - Contains all key facts from reference, fully accurate, may include helpful additional context\n4 = Excellent - Contains all or nearly all key facts, minor omissions or slight differences in emphasis\n3 = Good - Contains most key facts but missing 1-2 important points or has minor inaccuracies\n2 = Fair - Contains some correct information but missing several key facts or has significant gaps\n1 = Poor - Mostly incorrect, missing most key facts, or fundamentally wrong\n\nIMPORTANT RULES:\n- Additional accurate details beyond the reference answer should NOT lower the score\n- Longer, more comprehensive answers are acceptable if factually correct\n- Focus on semantic correctness, not format or length matching\n- Different phrasing of the same facts is acceptable\n- Penalize only for missing key points or factual errors\n\nProvide only the numerical score (1-5) based on these criteria.",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        0,
        0
      ],
      "id": "d87bf3ee-efac-4076-bb9d-e111100741e6",
      "name": "Metrics"
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        -224,
        256
      ],
      "id": "be1aa2c7-fdd9-4731-b534-ccd51d8ae9d6",
      "name": "If Evaluating"
    },
    {
      "parameters": {
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        64,
        400
      ],
      "id": "c53af6cf-d1f9-4c35-bd0d-82f3fe5b0607",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        224
      ],
      "id": "d33d1efe-6311-4558-bf3b-a45936db8495",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cq45RnzZBenZWFkn",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -496,
        480
      ],
      "id": "df39c3da-6787-4f2e-befa-df80980ec181",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "inXUMEcUSG4zNLnh",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If Evaluating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Evaluating": {
      "main": [
        [
          {
            "node": "Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Metrics",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Metrics": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ffcb9609-9279-4388-8b0a-6770e1e008ca",
  "meta": {
    "instanceId": "d088c9bd46f440db5c2d46df616be3ae638c569ef25d5c76e243094abf9e6a31"
  },
  "id": "l4QgCmsgrkty40VA",
  "tags": [
    {
      "updatedAt": "2025-12-12T12:47:19.602Z",
      "createdAt": "2025-12-12T12:47:19.602Z",
      "id": "eltuGtKThyZXJFoi",
      "name": "pirate"
    }
  ]
}